<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>View Blog Post</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<h1 class="text-center mt-3 mb-3">View Blog Post</h1>
<div class="p-3">
  <table class="table">
    <tr>
      <th>ID:</th>
      <td th:text="${blogPost.id}"></td>
    </tr>
    <tr>
      <th>Title:</th>
      <td th:text="${blogPost.title}"></td>
    </tr>
    <tr>
      <th>Content:</th>
      <td th:text="${blogPost.content}"></td>
    </tr>
    <tr>
      <th>Author:</th>
      <td th:text="${blogPost.author}"></td>
    </tr>
  </table>
  <a class="btn btn-primary" th:href="@{/posts}">Back to Posts</a>
  <a class="btn btn-primary" th:href="@{/posts/{id}/edit(id=${blogPost.id})}">Edit</a>
  <a class="btn btn-danger" th:href="@{/posts/{id}/delete(id=${blogPost.id})}" onclick="return confirm('Are you sure you want to delete this post?')">Delete</a>
</div>
</body>
</html>
